DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
CLIENT_ID=YOUR_CLIENT_ID_HERE
GUILD_ID=YOUR_GUILD_ID_HERE # unecessary for global commands
GUILD_ID_2=YOUR_SECOND_GUILD_ID_HERE # unecessary for global commands
MONGODB_URI=YOUR_MONGODB_URI_HERE